<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Sushi!</title>
</head>

<body>

    <div class="container">

        <center>
            <h1 class="title">
                Eat the Sushi!
                <span>
                    <img src ='https://us.123rf.com/450wm/seamartini/seamartini1403/seamartini140300250/26697675-serving-of-delicious-seafood-sushi-wrapped-in-rice-and-seaweed-for-healthy-japanese-cuisine-cartoon-.jpg?ver=6' height='250' width="250">
                </span>
            </h1>
        </center>


        {{{ body }}}
    </div>
</body>

</html>
